:host ::ng-deep {
    .p-password input {
        width: 100% !important;
        padding:1rem !important;
    }
    .pi-eye{
        transform:scale(1.6) !important;
        margin-right: 1rem !important;
    }
    .pi-eye-slash{
        transform:scale(1.6) !important;
        margin-right: 1rem !important;
    }
    input {
        font-size: 1rem !important;
    }
}

.surface-parent {
    background-color: transparent !important;
}

.div-grid {
    min-width:80% !important;
}

.col-12 {
    border-radius:56px !important;
    padding:0.3rem !important;
    background: linear-gradient(180deg, rgba(33, 150, 243, 0.4) 10%, rgba(33, 150, 243, 0) 30%) !important;
}

.surface-children {
    border-radius:53px;
}

.div-email {
    padding:1rem;
}

input {
    font-size: 1rem !important;
}