:host ::ng-deep {
    .p-menuitem-text {
        font-size: 1rem !important;
    }
}

.pi-user {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
}

.layout-menuitem-root-text {
    font-size: 1.5rem !important;
}